<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jld.InformationRelease">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- 摄像头方面的权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".view.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity android:name=".view.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.MainActivity">
        </activity>
        <activity
            android:name=".view.login_register.LoginActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".view.login_register.FindBackPassWordActivity"/>
        <activity android:name=".view.login_register.ResetPasswordActivity"/>
        <activity android:name=".view.login_register.CountryPageActivity"/>
        <activity
            android:name=".view.login_register.RegisterActivity1_Phone"
            android:label="@string/title_activity_register">
        </activity>
        <activity
            android:name=".view.login_register.RegisterActivity2_Code"
            android:label="@string/title_activity_code">
        </activity>
        <activity
            android:name=".view.login_register.RegisterActivity3"
            android:label="@string/title_activity_register">
        </activity>
        <activity android:name=".view.my_program.program_create.ProgramTextActivity"/>
        <activity android:name=".util.zxing.activity.CaptureActivity">
        </activity>

        <service
            android:name=".view.service.ProgramPushService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".view.my_program.SelectModelActivity">
        </activity>
        <activity
            android:name=".view.my_program.program_create.preview.ProgramTextPreview"
            android:screenOrientation="landscape"/>
        <!-- photo select -->
        <activity
            android:name="com.foamtrace.photopicker.PhotoPickerActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/PhotoPickerTheme"/>
        <activity
            android:name="com.foamtrace.photopicker.PhotoPreviewActivity"
            android:theme="@style/PhotoPickerTheme"/>
        <activity android:name=".view.my_program.program_create.ProgramVideoActivity">
        </activity>
        <activity android:name=".view.my_program.program_create.ProgramImageActivity">
        </activity>
        <activity android:name=".view.my_program.program_create.BaseProgramCompileActivity">
        </activity>
        <activity
            android:name=".view.my_program.program_create.preview.ProgramVideoPreview"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoBar">
        </activity>
        <activity
            android:name=".view.my_program.program_create.preview.ProgramImagePreview"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoBar"/>
        <activity android:name=".view.my_program.program_create.DayTaskProgramActivity">
        </activity>
        <activity android:name=".view.web_view.WebViewActivity">
        </activity>
        <activity android:name=".view.settings.FeedBackActivity">
        </activity>
    </application>

</manifest>